
* {
    box-sizing: border-box;
}

#navbar {
    nav {
        top: 30px;
        transition: top 0.4s;
        border-top: 0.5px solid rgba(0,0,0,0.2);       
    }
    #arrow {
        width: 40px;
        position: fixed;
        z-index: 500;
        right: 30px;
        bottom: 30px;
        opacity: 0;
        transition: opacity 0.5s;
        cursor: pointer;
    }
}

#social {
    position: fixed;
    right: -150px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.7s;
    ul {
        list-style-type: none;
    }
    .social {
        width: 150px;    
        transition: all 0.5s;
    }
}

#about {
    margin: 0;
    padding: 0;
    #welcome {        
        height: 150px;
        overflow: hidden;
        transition: all 1s;
        margin-top: 20vh;      
    }
    #hello-msg {
        transition: all 1s;
        opacity: 0;
        q {
            display: block;
            padding: 40px 50px;
        }
        h5 {
            margin-top: 60px;
        }
        img {
            width: 200px;
            display: block;
            margin: 0 auto;
        }
        #btns {
            width: 80%;
            margin: 0 auto;
        }
        #btns button {
            margin-right: 10px;
            transition: all 0.3s;
            &:last-child{
                margin-right: 0;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }      
}

#skills {
    margin: 0;
    width: 100%;
    padding-bottom: 150px;
    h5 {
        margin-bottom: 40px;
    }
    .tabSection {
        width: 100%;
        border: 0.5px solid rgba(0,0,0,0.1);
        margin-top: 20px;
        padding: 10px;
        box-shadow: 5px 5px 25px 2px rgba(58, 133, 255,0.4);
        padding-top: 20px;
    }
    .skillDscr {
        padding-top: 40px;
    }

}
#aboutme {
    padding-bottom: 100px;
    padding-top: 200px;

    .parallax-container {
        height: 500px;
        margin-top: 50px;
    }
    #myImg {
        width: 100% !important;
        margin: 0 !important;
    
    }
}
.container {width: 100%}