* {
    box-sizing: border-box;
}
#social {
    position: fixed;
    right: -150px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.7s;
    ul {
        list-style-type: none;
    }
    .social {
        width: 150px;    
        transition: all 0.5s;
    }
}

